.sub_header_category_hidden {
  position: absolute;
  opacity: 0;
  max-height: 0;
  width: 100%;
  top: 100%;
  left: 0;
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.2s ease-out;
}

.navbar_list:hover .sub_header_category_hidden.sub_header_category {
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.2s ease-out;
  background-color: #ffff;
  max-height: 488px;
  opacity: 1;
  z-index: 5;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}
